.Button {
    background-color: #2C3E50;
    border: none;
    color: #FFF;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 3px;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
    box-shadow: inset 0 0 4px 0px #000;
}

.Success {
    background-color: #5C9210;
}

.Danger {
    background-color: #944317;
}